html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.titulo-secao {
  font-size: 3em;
  margin: 120px auto 40px auto;
}

.ponto {
  color: #ff3d5e;
}

/* MENU */
.menu-bg {
  background: #000;
  position: sticky;
  top: 0;
  z-index: 2;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 0;
}

.menu a {
  color: #fff;
}

.menu-logo {
  font-weight: bold;
  font-size: 2em;
  border-bottom: 3px solid #ff3d5e;
}

.menu-nav {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  display: block;
  padding: 10px;
  font-size: 1.25em;
  font-family: "Roboto", sans-serif;
}

.menu-nav a:hover {
  color: #ff3d5e;
}

.menu-lista {
  display: flex;
  flex-wrap: wrap;
}

/* INTRODUCAO */
.introducao img {
  width: 100%;
  max-height: 776px;
}

/* PRODUTOS */
.carnes:target {
  scroll-margin-top: 4em;
}
.produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card-carnes {
  max-width: 300px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-carnes h4 {
  font-size: 2em;
}

.card-carnes h4::before {
  content: "";
  display: inline-flex;
  top: -5px;
  position: relative;
  width: 12px;
  height: 8px;
  background: #ff3d5e;
}

.card-carnes a {
  text-align: center;
  background: #ff3d5e;
  border: 4px solid #ff3d5e;
  color: #fff;
  font-size: 1.25em;
  width: 100px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

.card-carnes a:hover {
  background-color: #661825;
  border-color: #661825;
}

.card-carnes div a {
  font-size: 1.25em;
  color: #fff;
}
/* SOBRE */
.sobre {
  background: #121212;
  margin-top: 120px;
}

.sobre:target {
  scroll-margin-top: 3.5em;
}

.sobre-conteudo {
  display: flex;
  justify-content: space-between;
}

.sobre-texto {
  color: #b3b3b3;
  margin: 20px;
}

.sobre-texto h1 {
  font-size: 3em;
  margin-top: 120px;
  margin-bottom: 40px;
  color: #fff;
}

.sobre-texto p {
  margin-bottom: 20px;
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
}

.sobre-link {
  font-size: 1.5em;
  color: #ff3d5e;
  border-bottom: 4px solid;
  font-family: "Roboto", sans-serif;
}

.sobre-link:hover {
  color: #661825;
  cursor: pointer;
}

.sobre-img img {
  min-height: 520px;
}

/* CONTATO */
.contato {
  background: #000;
  padding-bottom: 40px;
}

.contato:target {
  scroll-margin-top: 5em;
}

.contato-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #fff;
}

.contato-info div p,
.contato-info div ul li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

.icon {
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

.contato-titulo {
  font-size: 2em;
}

.contato p {
  /*font-size: 1.125em;*/
  margin-bottom: 10px;
}

.icone-contato img {
  width: 24px;
  height: 24px;
}

.contato ul li a {
  /*font-size: 1.125em;*/
  color: #fff;
}

.contato ul li a:hover {
  color: #ff3d5e;
  cursor: pointer;
}

.redes-sociais {
  display: flex;
}

.redes-sociais li {
  margin: 15px 15px 15px 0;
}

.mapa {
  margin-right: 40px;
  max-width: 350px;
  max-height: 185px;
}

/* FOOTER */
.rodape {
  padding: 20px 0;
  background: #121212;
  text-align: center;
  color: #fff;
  font-size: 1.125em;
}
